.footer {
  width: 100%;
  background-color: #243c5a;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 4vh;
}

.footer > .footer-header {
  display: inline;
}

.footer > .footer-header > .footer-title {
  font-size: 22px;
  text-align: center;
  color: white;
}
